html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

.container {
    background-color: darksalmon;
    box-sizing: border-box;
    width: 900px;
    height: 900px;
    padding: 15px;
    border-radius: 15px;
}

.wrapper {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 3px;
    gap: 3px;
    box-sizing: border-box;
    border-radius: 3px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex: 1;
    gap: 3px;
    background-color: aqua;
    box-sizing: border-box;
}

.cell {
    flex: 1;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}

.background{
    background-color: rgb(20, 20, 20);
}

button {
    margin: 10px;
}